{% extends "base.html" %}
{% block title %}Second Wind{% endblock %}
{% block content %}
{% load bootstrap %}

<!-- Title -->
<div class="jumbotron">
	<div class="container">
    	<h2>Eliminar orden</h2>
        <p>Estás seguro?</p>
    </div>
</div>
<!-- END Title -->
<!-- Form -->
<div class="container">
	<form class="form-horizontal" method="POST">
    	{% csrf_token %}
      	<button type="submit" class="btn btn-danger btn-lg">Eliminar</button>
      	<a class="btn btn-default btn-lg" href="{% url 'sell_bill_list' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
	</form>	
</div>
<!-- END Form -->
{% endblock %}