{% extends "base.html" %}
{% block title %}Second Wind{% endblock %}
{% block content %}
{% load staticfiles %}
{% load bootstrap %}

<!-- Jumbotron -->
<div class="jumbotron">
	<div class="container">
    	<h1>Lista de Ventas</h1>
    </div>
</div>
<!-- END Jumbotron -->
<!-- Container -->
<div class="container">
	{% if bills %}
		<div class="table-responsive"> 
        	<table class="table table-hover">
            	<thead>
                	<tr>
                    	<th>Fecha</th>
                    	<th>Nro. de factura</th>
                    	<th>Total</th>
                    	<th>Cliente</th>
                    </tr>
                </thead>
                <tbody>
                	{% for b in bills %}
	                	<tr>
	                    	<td>{{ b.date }}</td>
	                    	<td><a href="{% url 'sell_bill_detail' b.id %}">{{ b.stamp }}</a></td>
	                    	<td>{{ b.total }} Gs.</td>  
	                    	<td><a href="{% url 'customer_detail' b.customer_id %}">{{ b.customer.first_name }} {{ b.customer.last_name }}</a></td>     
	                    	<td><a class="btn btn-default btn-xs" href="{% url 'sell_bill_delete' b.pk %}"><span class="glyphicon glyphicon-remove"></span></a>     			
	                	</tr>
                	{% endfor %}
                </tbody>
        	</table>
    	</div>
    {% else %}
    	<h3>No existen facturas</h3>
    {% endif %}
</div>
<!-- END Container -->
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {

});
</script>
{% endblock %}