<!DOCTYPE html>
<html lang="es">
  <head>
  	{% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Stock It</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap/css/offcanvas.css' %}" rel="stylesheet">
	{% block extracss %}{% endblock %}
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

<body>
	<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
		<!-- CONTAINER -->
		<div class="container">
			<!-- NAV-HEADER -->
        	<div class="navbar-header">
          		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	           		<span class="sr-only">Toggle navigation</span>
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
          		</button>
          		<a class="navbar-brand" href="{% url 'index' %}">Stock it</a>
        	</div>
        	<!-- END NAV-HEADER -->
        	<!-- NAV-COLLAPSE -->
        	<div class="collapse navbar-collapse">
          		<ul class="nav navbar-nav">
          			<li class="dropdown">
	          			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Registro<span class="caret"></span></a>
		          		<ul class="dropdown-menu" role="menu">
			            	<li><a href="{% url 'product_list' %}">Productos</a></li>
				            <li><a href="{% url 'category_list' %}">Categorías</a></li>
				            <li><a href="{% url 'customer_list' %}">Clientes</a></li>
				            <li><a href="{% url 'supplier_list' %}">Proveedores</a></li>
				            <li><a href="{% url 'group_list' %}">Grupos</a></li>
          				</ul>
          			</li>
          			<li class="dropdown">
	          			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Facturación<span class="caret"></span></a>
		          		<ul class="dropdown-menu" role="menu">
			            	<li><a href="{% url 'buy_order_list' %}">Orden de Compra</a></li>
				            <li><a href="{% url 'buy_bill_list' %}">Lista de Compra</a></li>
				            <li><a href="{% url 'sell_order_list' %}">Orden de Venta</a></li>
				            <li><a href="{% url 'sell_bill_list' %}">Lista de Ventas</a></li>
          				</ul>
          			</li>
		            <li><a href="{% url 'expense_list' %}">Gastos</a></li>
		            <li><a href="/report/{% now "Y" %}">Reporte</a></li>
          		</ul>
        	</div>
        	<!-- END NAV-COLLAPSE -->
      	</div>
      	<!-- END CONTAINER -->
   	</div><!-- /.navbar -->

	{% block content %}{% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'bootstrap/js/offcanvas.js' %}"></script>
    {% block extrajs %}{% endblock %}
</body>
</html>