{% extends "base.html" %}
{% block title %}Second Wind{% endblock %}
{% block content %}
{% load staticfiles %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
    	<h1>Stock it</h1>
        <p>Gestiona todo en este simple software contable.</p>
    </div>
</div>
{% endblock %}