{% extends "base.html" %}
{% block title %}Second Wind{% endblock %}
{% block content %}
{% load staticfiles %}
{% load bootstrap %}
<!-- Jumbotron -->
<div class="jumbotron">
	<div class="container">
    	<h1>Productos</h1>
    	<div class="btn-group">
    		<a class="btn btn-primary btn-lg" href="{% url 'product_create' %}"><span class="glyphicon glyphicon-plus"></span> Crear</a>
    		<a class="btn btn-default btn-lg btn-filter" href="#">Filtro de Busqueda</a>
    	</div>
    </div>
</div>
<!-- END Jumbotron -->
<!-- Filter Form -->
<div class="container container-filter" style="display: none">
	<form class="form-horizontal" action="" method="get">
	    {{ filter.form|bootstrap_horizontal }}
	    <button type="submit" class="btn btn-default btn-lg">Buscar</button>
	</form>
</div>
<!-- END Filter Form -->
<hr>
<!-- Container -->
<div class="container">
	{% if filter %}
		<div class="table-responsive"> 
        	<table class="table table-hover">
            	<thead>
                	<tr>
                    	<th>ID</th>
                    	<th>Código</th>
                    	<th>Nombre</th>
                    	<th>Cantidad</th>
                    	<th>Categoría</th>
                    </tr>
                </thead>
                <tbody>
                	{% for p in filter %} 
	                	<tr class="product" 
	                		data-description="{{ p.description }}" 
	                		data-name="{{ p.name }}" 
	                		data-detail-url="{% url 'product_detail' pk=p.id %}"
	                		data-update-url="{% url 'product_update' pk=p.id %}" 
	                		data-delete-url="{% url 'product_delete' pk=p.id %}"
	                		data-quantity="{{ p.quantity }}">
	                    	<td>{{ p.id }}</td>
	                    	<td>{{ p.codename }}</td>
	                    	<td>{{ p.name }}</td>
	                    	<td>{{ p.quantity }}</td>	
	                    	<td>{{ p.category.name }}</td>	              			
	                	</tr>
                	{% endfor %}
                </tbody>
        	</table>
    	</div>
    {% else %}
    	<h3>No existen productos</h3>
    {% endif %}
</div>
<!-- END Container -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel"></h4>
      		</div>
	      	<div class="modal-body">
	      	</div>
	      	<div class="modal-buttons">
	      		<button type="button" class="btn btn-default btn-lg btn-block btn-detail">Detalle</button>
	      		<button type="button" class="btn btn-default btn-lg btn-block btn-update">Modificar</button>
				<button type="button" class="btn btn-danger btn-lg btn-block btn-delete">Eliminar</button>
	      	</div>
	    	<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	      	</div>
    	</div>
  	</div>
</div>
<!-- END Modal -->
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.file-input.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
	var detailUrl;
	var updateUrl;
	var deleteUrl;
	// 
	// Modal call function
	$(".product").each(function(){
		quantity = $(this).data("quantity");
		if (quantity == 0) {
			$(this).addClass("danger");
		} else if (quantity < 2) {
			$(this).addClass("warning");
		} else if (quantity > 19) {
			$(this).addClass("success");
		}
	});
	$(".product").on("click", function() {
		var description = $(this).data("description");
		var name = $(this).data("name");
		detailUrl = $(this).data("detail-url");
		updateUrl = $(this).data("update-url");
		deleteUrl = $(this).data("delete-url");
		$(".modal-title").text(name);
		$(".modal-body").text(description);
		$('#myModal').modal({
			show:true
		});
	});
	// Filter button
	$(".btn-filter").click(function() {
		$(".container-filter").slideToggle("fast", function(){});
	});
	$(".btn-detail").click(function() {
		window.location = detailUrl
	});
	$(".btn-update").click(function() {
		window.location = updateUrl
	});
	$(".btn-delete").click(function() {
		window.location = deleteUrl
	});
});
</script>
{% endblock %}