{% extends "base.html" %}
{% block title %}Second Wind{% endblock %}
{% block content %}
{% load bootstrap %}
<!-- Jumbotron -->
<div class="jumbotron">
	<div class="container">
    	<h1>Eliminar producto</h1>
        <p>Estas seguro?</p>
    </div>
</div>
<!-- END Jumbotron -->
<!-- Form -->
<div class="container">
	<form enctype="multipart/form-data" class="form-horizontal" method="POST">
    	{% csrf_token %}
      	<button type="submit" class="btn btn-danger btn-lg">Eliminar</button>
      	<a class="btn btn-default btn-lg" href="{% url 'product_list' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
	</form>	
</div>
<!-- END Form -->
{% endblock %}