{% extends "base.html" %}
{% block title %}Second Wind{% endblock %}
{% block content %}
{% load bootstrap %}

<!-- Title -->
<div class="jumbotron">
	<div class="container">
    	<h1>Detalles del producto</h1>
    	<div class="row">
    		{% if product.picture %}
    			<div class="col-xs-12 col-sm-6 col-md-6"><img src="{{ product.picture.url }}" alt="Product Picture" width="100%" height="100%"/></div>
	    	{% endif %}
	    	<div class="row">
	    		<div class="col-xs-12 col-sm-6 col-md-6"><p><b>Nombre:</b> {{ product.name }}</p></div>
	    		<div class="col-xs-12 col-sm-6 col-md-3"><p><b>Código:</b> {{ product.codename }}</p></div>
	    		<div class="col-xs-12 col-sm-6 col-md-3"><p><b>Categoría:</b> <a href="{% url 'category_detail' product.category.id %}">{{ product.category }}</a></p></div>
	    		<div class="col-xs-12 col-sm-6 col-md-3"><p><b>Stock:</b> {{ product.quantity }}</p></div>
	    		<div class="col-xs-12 col-sm-6 col-md-3"><p><b>Venta:</b> {{ product.sale_price }} Gs.</p></div>
	    		<div class="col-xs-12 col-sm-6 col-md-3"><p><b>Compra:</b> {{ product.purchase_price }} Gs.</p></div>
	    		<div class="col-xs-12 col-sm-6 col-md-3"><p><b>Lucro:</b> {{ profit_margin }} Gs.</p></div>
	    		<div class="col-xs-12 col-sm-6 col-md-3"><p><b>Porcentaje:</b> {{ product.profit_margin }}</p></div>
	    		<div class="col-xs-12 col-sm-6 col-md-3"><p><b>IVA:</b> {{ product.tax }}%</p></div>
	    		<div class="col-xs-12 col-sm-12 col-md-6"><p><b>Descripción</b></p></div>
	    		<div class="col-xs-12 col-sm-12 col-md-6"><p>{{ product.description }}</p></div>
	    	</div>
    	</div>
    </div>
</div>
<!-- END Title -->
<!-- Container Buy -->
<div class="container">
	<h2>Compras</h2>
	{% if buy_orders %}
		<div class="table-responsive"> 
        	<table class="table table-hover">
            	<thead>
                	<tr>
                    	<th># de Factura</th>
                    	<th>Fecha</th>
                    	<th>Precio</th>
                    	<th>Cantidad</th>
                    	<th>Proveedor</th>
                    </tr>
                </thead>
                <tbody>
                	{% for o in buy_orders %}
	                	<tr>
	                    	<td><a href="{% url 'buy_bill_detail' o.bill_id %}">{{ o.bill.stamp }}</a></td>
	                    	<td>{{ o.bill.date }}</td>
	                    	<td>{{ o.unit_price }} Gs.</td>    
	                    	<td>{{ o.quantity }}</td>
	                    	<td><a href="{% url 'supplier_detail' o.bill.supplier_id %}">{{ o.bill.supplier }}</a></td>
	                	</tr>
                	{% endfor %}
                </tbody>
        	</table>
    	</div>
    {% else %}
    	<h3>No existen compras.</h3>
    {% endif %}
</div>
<!-- END Container Buy -->
<!-- Container Sell -->
<div class="container">
	<h2>Ventas</h2>
	{% if sell_orders %}
		<div class="table-responsive"> 
        	<table class="table table-hover">
            	<thead>
                	<tr>
                    	<th># de Factura</th>
                    	<th>Fecha</th>
                    	<th>Precio</th>
                    	<th>Cantidad</th>
                    	<th>Cliente</th>
                    </tr>
                </thead>
                <tbody>
                	{% for o in sell_orders %}
	                	<tr>
	                    	<td><a href="{% url 'sell_bill_detail' o.bill_id %}">{{ o.bill.stamp }}</a></td>
	                    	<td>{{ o.bill.date }}</td>
	                    	<td>{{ o.unit_price }} Gs.</td>    
	                    	<td>{{ o.quantity }}</td>
	                    	<td><a href="{% url 'customer_detail' o.bill.customer.id %}">{{ o.bill.customer }}</a></td>
	                	</tr>
                	{% endfor %}
                </tbody>
        	</table>
    	</div>
    {% else %}
    	<h3>No existen ventas.</h3>
    {% endif %}
</div>
<!-- END Container Sell -->
{% endblock %}