{% extends "base.html" %}
{% block title %}Second Wind{% endblock %}
{% block content %}
{% load bootstrap %}

<!-- Title -->

<div class="jumbotron">
	<div class="container">
		<h1>Detalles del proveedor</h1>
    	<div class="row">
    		<div class="col-xs-12 col-sm-6 col-md-6"><p>Nombre: {{ supplier.name }}</p></div>
    		<div class="col-xs-12 col-sm-6 col-md-6"><p>Teléfono: {{ supplier.phone }}</p></div>
    		<div class="col-xs-12 col-sm-6 col-md-6"><p>Dirección: {{ supplier.address }}</p></div>
    		<div class="col-xs-12 col-sm-6 col-md-6"><p>CI/RUC: {{ supplier.id_card }}</p></div>
    		<div class="col-xs-12 col-sm-6 col-md-6"><p>Ciudad: {{ supplier.city }}</p></div>
    		<div class="col-xs-12 col-sm-6 col-md-6"><p>País: {{ supplier.country }}</p></div>
    	</div>
    	<h3>Descripción</h3>
    	<p>{{ supplier.description }}</p>
    </div>
</div>

<div class="container">
	{% if bills %}
		<h2>Facturas</h2>
		<div class="table-responsive"> 
        	<table class="table table-hover">
            	<thead>
                	<tr>
                    	<th>Fecha</th>
                    	<th>Nro. de Factura</th>
                    	<th>Sub-Total</th>
                    	<th>Tasa</th>
                    	<th>Total</th>
                    </tr>
                </thead>
                <tbody>
                	{% for b in bills %}
	                	<tr>
	                    	<td>{{ b.date }}</td>
	                    	<td><a href="{% url 'buy_bill_detail' b.id %}">{{ b.stamp }}</a></td>	
	                    	<td>{{ b.subtotal }}</td>    
	                    	<td>{{ b.taxes }}</td>
	                    	<td>{{ b.total }}</td>
	                	</tr>
                	{% endfor %}
                </tbody>
        	</table>
    	</div>
    {% else %}
    	<h3>No existen proveedores.</h3>
    {% endif %}
</div> <!-- /.container -->

{% endblock %}