{% extends "base.html" %}
{% block title %}Second Wind{% endblock %}
{% block content %}
{% load staticfiles %}
{% load bootstrap %}
<!-- Jumbotron -->
<div class="jumbotron">
	<div class="container">
    	<h1>Proveedores</h1>
        <a class="btn btn-primary btn-lg" href="{% url 'supplier_create' %}"><span class="glyphicon glyphicon-plus"></span> Crear</a>
    </div>
</div>
<!-- END Jumbotron -->
<!-- Container -->
<div class="container">
	{% if suppliers %}
		<div class="table-responsive"> 
        	<table class="table table-hover">
            	<thead>
                	<tr>
                    	<th>ID</th>
                    	<th>Nombre</th>
                    	<th>RUC</th>
                    	<th>Dirección</th>
                    	<th>Ciudad y País</th>
                    </tr>
                </thead>
                <tbody>
                	{% for s in suppliers %}
	                	<tr class="rowSelector"  
	                	data-full-name="{{ s.name }}" 
	                	data-detail-url="{% url 'supplier_detail' pk=s.id %}"
	                	data-update-url="{% url 'supplier_update' pk=s.id %}" 
	                	data-delete-url="{% url 'supplier_delete' pk=s.id %}">
	                    	<td>{{ s.id }}</td>
	                    	<td>{{ s.name }}</td>	
	                    	<td>{{ s.id_card }}</td>    
	                    	<td>{{ s.address }}</td>
	                    	<td>{{ s.city }}, {{ s.country }}</td>
	                	</tr>
                	{% endfor %}
                </tbody>
        	</table>
    	</div>
    {% else %}
    	<h3>No existen proveedores</h3>
    {% endif %}
</div>
<!-- END Container -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel"></h4>
      		</div>
	      	<div class="modal-buttons">
	      		<button type="button" class="btn btn-default btn-lg btn-block btn-detail">Detalle</button>
	      		<button type="button" class="btn btn-default btn-lg btn-block btn-update">Modificar</button>
				<button type="button" class="btn btn-danger btn-lg btn-block btn-delete">Eliminar</button>
	      	</div>
	    	<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      	</div>
    	</div>
  	</div>
</div>
<!-- END Modal -->
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
	var detailUrl;
	var updateUrl;
	var deleteUrl;
	// Modal call function
	$(".rowSelector").on("click", function() {
		var fullName = $(this).data("full-name");
		detailUrl = $(this).data("detail-url");
		updateUrl = $(this).data("update-url");
		deleteUrl = $(this).data("delete-url");
		$(".modal-title").text(fullName);
		$('#myModal').modal({
			show:true
		});
	});
	$(".btn-detail").click(function() {window.location = detailUrl});
	$(".btn-update").click(function() {window.location = updateUrl});
	$(".btn-delete").click(function() {window.location = deleteUrl});
});
</script>
{% endblock %}