{% extends "base.html" %}
{% block title %}Second Wind{% endblock %}
{% block content %}
{% load staticfiles %}
{% load bootstrap %}
<!-- Title -->
<div class="jumbotron">
	<div class="container">
    	<h1>Orden de Compras</h1>
    	<div class="btn-group btn-group-lg">
    		<a class="btn btn-success btn-lg" href="{% url 'buy_order_check_product' %}">Agregar Producto</a>
    		<a class="btn btn-default btn-lg" href="{% url 'buy_order_clear' %}">Limpiar Orden</a>
    	</div>
    </div>
</div>
<!-- END Title -->
<!-- Container -->
<div class="container">
	{% if buy_orders %}
		<div class="table-responsive"> 
        	<table class="table">
            	<thead>
                	<tr>
                    	<th>Código de Producto</th>
                  		<th>Cantidad</th>
                    	<th>Nombre de Producto</th>
                    	<th>Categoría</th>
                    	<th>Precio unitario</th>
                    	<th>Sub-total</th>
                    </tr>
                </thead>
                <tbody>
                	{% for b in buy_orders %}
	                	<tr>
	                    	<td>{{ b.product.codename }}</td>
	                    	<td>{{ b.quantity }}</td>
	                    	<td>{{ b.product.name }}</td>	
	                    	<td>{{ b.product.category.name }}</td>	
	                    	<td>{{ b.unit_price }}</td>	
	                    	<td>{{ b.subtotal }}</td>
	                    	<td><a href="{% url 'buy_order_delete' pk=b.id %}" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-remove"></span></a></td>	
	                	</tr>
                	{% endfor %}
                	<tr class="active">
                    	<td></td>
                    	<td></td>
                    	<td></td>	
                    	<td></td>	
                    	<td><b>TOTAL:</b></td>
                    	<td><b>{{ total }}</b></td>	
                	</tr>
                </tbody>
        	</table>
    	</div>
    	<a class="btn btn-success btn-lg" href="{% url 'buy_bill_create' %}">Realizar Compra</a>
    {% else %}
    	<h3>No existen productos</h3>
    {% endif %}
</div>
<!-- END Container -->
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {

});
</script>
{% endblock %}