{% extends "base.html" %}
{% block title %}Second Wind{% endblock %}
{% block content %}
{% load bootstrap %}

<!-- Title -->

<div class="jumbotron">
	<div class="container">
    	<h2>Modificar gasto</h2>
    </div>
</div>

<!-- Form -->

<div class="container">
	<form class="form-horizontal" method="POST">
    	{% csrf_token %}
		{{ form|bootstrap_horizontal }}
      	<button type="submit" class="btn btn-success btn-lg">Modificar</button>
      	<a class="btn btn-default btn-lg" href="{% url 'expense_list' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
	</form>	
</div>

{% endblock %}