{% extends "base.html" %}
{% block title %}Second Wind{% endblock %}
{% block content %}
{% load staticfiles %}
{% load bootstrap %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
    	<h1>Gastos</h1>
        <a class="btn btn-primary btn-lg" href="{% url 'expense_create' %}"><span class="glyphicon glyphicon-plus"></span> Crear</a>
    </div>
</div>

<!-- Container -->
<div class="container">
	{% if expenses %}
		<div class="table-responsive"> 
        	<table class="table table-hover">
            	<thead>
                	<tr>
                    	<th># de Factura</th>
                    	<th>Fecha</th>
                    	<th>Descripción</th>
                    	<th>Monto</th>
                    </tr>
                </thead>
                <tbody>
                	{% for e in expenses %}
	                	<tr class="rowSelector"  
	                	data-full-name="{{ e.description }}" 
	                	data-update-url="{% url 'expense_update' pk=e.id %}" 
	                	data-delete-url="{% url 'expense_delete' pk=e.id %}">
	                    	<td>{{ e.stamp }}</td>
	                    	<td>{{ e.date }}</td>	
	                    	<td>{{ e.description }}</td>    
	                    	<td>{{ e.price }}Gs.</td>
	                	</tr>
                	{% endfor %}
                	<tr>
                		<td></td>
                		<td></td>
                		<td><b>TOTAL:</b></td>
                		<td><b>{{ total }} Gs.</b></td>
                	</tr>
                </tbody>
        	</table>
    	</div>
    {% else %}
    	<h3>No existen gastos</h3>
    {% endif %}
</div> <!-- /.container -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel"></h4>
      		</div>
	      	<div class="modal-buttons">
	      		<button type="button" class="btn btn-primary btn-lg btn-block btn-update">Modificar</button>
				<button type="button" class="btn btn-default btn-lg btn-block btn-delete">Eliminar</button>
	      	</div>
	    	<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      	</div>
    	</div>
  	</div>
</div>

<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
	var updateUrl;
	var deleteUrl;
	// Modal call function
	$(".rowSelector").on("click", function() {
		var fullName = $(this).data("full-name");
		updateUrl = $(this).data("update-url");
		deleteUrl = $(this).data("delete-url");
		$(".modal-title").text(fullName);
		$('#myModal').modal({
			show:true
		});
	});
	$(".btn-update").click(function() {
		window.location = updateUrl
	});
	$(".btn-delete").click(function() {
		window.location = deleteUrl
	});
});
</script>
{% endblock %}