{% extends 'report/dashboard.html' %}
{% load staticfiles %}
{% load l10n %}

{% block title %}Second Wind{% endblock %}
{% block section %}Informe Anual{% endblock %}
{% block dash %}
	<div class="row placeholders">
		<div id="container" style="min-width: 210px; height: 300px; margin: 0 auto"></div>
	</div>

      <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Mes</th>
		          <th>Ganancia</th>
		          <th>Gastos</th>
		          <th>Saldo</th>
                </tr>
              </thead>
              <tbody>
			  {% if reports %}
	          	{% for r in reports %}
	              	<tr>
	                  <td><a href="{% url 'global_month' r.date.year r.date.month %}">{{ r.date|date:"E" }}</a></td>
	                  <td>{{ r.revenue }}</td>
	                  <td>{{ r.expenses }}</td>
	                  <td>{{ r.balance }}</td>
	                </tr>
				{% endfor %}
			  {% endif %}
              </tbody>
            </table>
          </div>
		
{% endblock %}

{% block extrajs %}
	<script src="{% static 'js/highcharts.js' %}"></script>
	<script src="{% static 'js/modules/exporting.js' %}"></script>
	<script>		
		$(function () {
        $('#container').highcharts({
            title: {
                text: 'Anho {{ year }}',
                x: -20 //center
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: {
                	   day: '%b',
                	   week: '%b',
                	   month: '%b',
                },
            },
            yAxis: {
            	allowDecimals: false,
                title: {
                    text: 'Monto (Gs.)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ' Gs.'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            {% localize off %}
            series: [{
            	name: 'Ganancia',
                data: [{% for r in reports %}[Date.UTC({{ r.date.year }}, {{ r.date.month|add:'-1'}}, {{ r.date.day }}), {{ r.revenue }}],
                       {% endfor %}]
            }, {
            	name: 'Gastos',
                data: [{% for r in reports %}[Date.UTC({{ r.date.year }}, {{ r.date.month|add:'-1'}}, {{ r.date.day }}), {{ r.expenses }}],
                       {% endfor %}]
            }, {
            	name: 'Saldo',
                data: [{% for r in reports %}[Date.UTC({{ r.date.year }}, {{ r.date.month|add:'-1'}}, {{ r.date.day }}), {{ r.balance }}],
                       {% endfor %}]
            }]
        	{% endlocalize %}
        });
    });
    
	</script>
{% endblock %}