{% extends 'base.html' %}
{% load staticfiles %}

{% block extracss %}
	<link href="{% static 'bootstrap/css/dashboard.css' %}" rel="stylesheet">
	<link href="{% static 'bootstrap/css/dashboard-tweaks.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid">
      
      <div class="row row-offcanvas row-offcanvas-left">
        
         <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
           
            <h4>Global</h4>
            <ul class="nav nav-sidebar">
   	          	<li><a href="/report/{% now "Y" %}">Informe Anual </a></li>
	          	<li><a href="/report/{% now "Y/n" %}">Informe Mensual </a></li>
            </ul>
           	{% for g in groups %}
            	<h4>{{ g.name }}</h4>
	            <ul class="nav nav-sidebar">
		   	          	<li><a href="/report/{{ g.name }}/{% now "Y" %}">Informe Anual </a></li>
			          	<li><a href="/report/{{ g.name }}/{% now "Y/n" %}">Informe Mensual </a></li>
	            </ul>
	        {% endfor %}
        </div><!--/span-->
        
        <div class="col-sm-9 col-md-10 main">
          
          <!--toggle sidebar button-->
          <p class="visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
          </p>
          
		  <h1 class="page-header">
            {% block section %}Report{% endblock %}
          </h1>          

          {% block dash %}{% endblock %}

      </div><!--/row-->
      
	</div>
</div><!--/.container-->
{% endblock %}

<script>
	$(document).ready(function() {
	  $('[data-toggle=offcanvas]').click(function() {
	    $('.row-offcanvas').toggleClass('active');
	  });
	});
</script>
{% block extrajs %}
{% endblock %}