{% extends 'report/dashboard.html' %}
{% load staticfiles %}

{% block title %}Reportes{% endblock %}

{% block section %}Informe Mensual{% endblock %}
{% block dash %}
	<h3>{{ report.date|date:"E Y" }}</h3>
    <div class="table-responsive">
	    <table class="table table-striped">
	      <thead>
	        <tr>
			  <th>Ganancia</th>
	          <th>Gastos</th>
	          <th>Saldo</th>
	          <th>Saldo Previo</th>
	        </tr>
	      </thead>
	      <tbody>
	      	{% if report %}
              	<tr>
              	  <td>{{ report.revenue }}</td>
                  <td>{{ report.expenses }}</td>
                  <td>{{ report.balance }}</td>
                  <td>{{ report.last_balance }}</td>
                  <td>{{ report.group }}</td>
                </tr>
			{% endif %}
	      </tbody>
	    </table>
	  </div>

	{% if sell_bills %}
		<div class="row placeholders">
		  <div id="container" style="min-width: 310px; height: 400px; max-width: 500px; margin: 0 auto"></div>
		  <button id="products" class="autocompare">Productos</button>
		  <button id="categories" class="autocompare">Categorias</button>
		</div>
	
	  <div class="table-responsive">
	  	<h3>Productos vendidos</h3>
	    <table class="table table-striped">
	      <thead>
	        <tr>
			  <th>#</th>
	          <th>Producto</th>
	          <th>Ventas</th>
	        </tr>
	      </thead>
	      <tbody>
	      	{% if sales %}
	          	{% for id,p,qty in sales %}
	              	<tr>
	              	  <td>{{ forloop.counter }}</td>
	                  <td><a href="{% url 'product_detail' id %}">{{ p }}</a></td>
	                  <td>{{ qty }}</td>
	                </tr>
				{% endfor %}
			{% endif %}
	      </tbody>
	    </table>
	  </div>
	
	<div class="table-responsive">
	  	<h3>Ventas</h3>
	    <table class="table table-striped">
	      <thead>
	        <tr>
			  <th>Nro. Factura</th>
			  <th>Fecha</th>
	          <th>Total</th>
	          <th>Cliente</th>
	        </tr>
	      </thead>
	      <tbody>
          	{% for b in sell_bills %}
              	<tr>
                  <td><a href="{% url 'sell_bill_detail' b.id %}">{{ b.stamp }}</a></td>
                  <td>{{ b.date }}</td>
                  <td>{{ b.total }}</td>
                  <td><a href="{$ url 'customer_detail' b.customer_id %}">{{ b.customer.first_name }} {{ b.customer.last_name }}</a></td>
                </tr>
			{% endfor %}
	      </tbody>
	    </table>
	  </div>
	{% endif %}
	 
	{% if buy_bills %}
	  <div class="table-responsive">
	  	<h3>Compras</h3>
	    <table class="table table-striped">
	      <thead>
	        <tr>
			  <th>Nro. Factura</th>
			  <th>Fecha</th>
	          <th>Total</th>
	          <th>Proveedor</th>
	        </tr>
	      </thead>
	      <tbody>
          	{% for b in buy_bills %}
              	<tr>
                  <td><a href="{% url 'buy_bill_detail' b.id %}">{{ b.stamp }}</a></td>
                  <td>{{ b.date }}</td>
                  <td>{{ b.total }}</td>
                  <td><a href="{$ url 'supplier_detail' b.supplier_id %}">{{ b.supplier.name }}</a></td>
                </tr>
			{% endfor %}
	      </tbody>
	    </table>
	  </div>
	 {% endif %}
	  
	 {% if expenses %}
	  <div class="table-responsive">
	  	<h3>Gastos Generales</h3>
	    <table class="table table-striped">
	      <thead>
	        <tr>
			  <th>Fecha</th>
	          <th>Descripcion</th>
	          <th>Monto</th>
	        </tr>
	      </thead>
	      <tbody>
          	{% for e in expenses %}
              	<tr>
                  <td>{{ e.date }}</td>
                  <td>{{ e.description }}</td>
                  <td>{{ e.price }}</td>
                </tr>
			{% endfor %}
	      </tbody>
	    </table>
	  </div>
	{% endif %}
		
{% endblock %}

{% block extrajs %}
	<script src="{% static 'js/highcharts.js' %}"></script>
	<script src="{% static 'js/modules/exporting.js' %}"></script>
	<script>		
		$(function () {
			$('#container').highcharts({
		        title: {
		            text: 'Productos mas vendidos'
		        },
		        tooltip: {
		    	    pointFormat: '{series.name}: <b>{point.y}</b>'
		        },
		        plotOptions: {
		            pie: {
		                allowPointSelect: true,
		                cursor: 'pointer',
		                dataLabels: {
		                    enabled: true,
		                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
		                    style: {
		                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
		                    }
		                }
		            }
		        },
		        series: [{
		            type: 'pie',
		            name: 'Quantity',
		            data: [{% for id,p,qty in top %}['{{ p }}', {{ qty }}], {% endfor %}]
		        }]
		    });
		    $('#products').click(function () {
		        var chart = $('#container').highcharts();
		        chart.series[0].setData([{% for id,p,qty in top %}['{{ p }}', {{ qty }}], {% endfor %}]);
		    });
		    $('#categories').click(function () {
		        var chart = $('#container').highcharts();
		        chart.series[0].setData([{% for id,p,qty in top_cat %}['{{ p }}', {{ qty }}], {% endfor %}]);
		    });
		});
	</script>
{% endblock %}