{% extends "base.html" %}
{% block title %}Second Wind{% endblock %}
{% block content %}
{% load staticfiles %}
{% load bootstrap %}

<!-- Jumbotron -->
<div class="jumbotron">
	<div class="container">
    	<h1>Crear grupo</h1>
    </div>
</div>
<!-- END Jumbotron -->
<!-- Form -->
<div class="container">
	<form class="form-horizontal" method="POST" enctype="multipart/form-data">
    	{% csrf_token %}
		{{ form|bootstrap_horizontal }}
      	<button type="submit" class="btn btn-success btn-lg">Crear</button>
      	<a class="btn btn-default btn-lg" href="{% url 'group_list' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
	</form>	
</div>
<!-- END Form -->
{% endblock %}