{% extends "base.html" %}
{% block title %}Second Wind{% endblock %}
{% block content %}
{% load staticfiles %}
{% load bootstrap %}
<!-- Jumbotron -->
<div class="jumbotron">
	<div class="container">
    	<h1>Grupos</h1>
    	<a class="btn btn-primary btn-lg" href="{% url 'group_create' %}"><span class="glyphicon glyphicon-plus"></span> Crear</a>
    </div>
</div>
<!-- END Jumbotron -->
<!-- Container -->
<div class="container">
	{% if groups %}
		<div class="table-responsive"> 
        	<table class="table table-hover">
            	<thead>
                	<tr>
                    	<th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                	{% for g in groups %} 
	                	<tr class="group" 
	                		data-name="{{ g.name }}" 
	                		data-update-url="{% url 'group_update' pk=g.id %}" 
	                		data-delete-url="{% url 'group_delete' pk=g.id %}">
	                    	<td>{{ g.name }}</td>          			
	                	</tr>
                	{% endfor %}
                </tbody>
        	</table>
    	</div>
    {% else %}
    	<h3>No existen grupos</h3>
    {% endif %}
</div>
<!-- END Container -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel"></h4>
      		</div>
	      	<div class="modal-body">
	      	</div>
	      	<div class="modal-buttons">
	      		<button type="button" class="btn btn-default btn-lg btn-block btn-update">Modificar</button>
				<button type="button" class="btn btn-danger btn-lg btn-block btn-delete">Eliminar</button>
	      	</div>
	    	<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	      	</div>
    	</div>
  	</div>
</div>
<!-- END Modal -->
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.file-input.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
	var updateUrl;
	var deleteUrl;
	$(".group").on("click", function() {
		var name = $(this).data("name");
		updateUrl = $(this).data("update-url");
		deleteUrl = $(this).data("delete-url");
		$(".modal-title").text(name);
		$('#myModal').modal({
			show:true
		});
	});
	$(".btn-update").click(function() {
		window.location = updateUrl
	});
	$(".btn-delete").click(function() {
		window.location = deleteUrl
	});
});
</script>
{% endblock %}