{% extends "base.html" %}
{% block title %}Second Wind{% endblock %}
{% block content %}
{% load bootstrap %}

<!-- Title -->
<div class="jumbotron">
	
	<div class="container">
		<h1>Detalles de la categoría</h1>
    	<div class="row">
    		<div class="col-xs-12 col-sm-6 col-md-6"><p>Nombre: {{ category.name }}</p></div>
    		<div class="col-xs-12 col-sm-6 col-md-6"><p>Cantidad de productos: {{ products.count }}</p></div>
    			
    	</div>
    	<h3>Descripción</h3>
    	<p>{{ category.description }}</p>
    </div>
</div>

<div class="container">
	{% if products %}
		<div class="table-responsive"> 
        	<table class="table table-hover">
            	<thead>
                	<tr>
                    	<th>ID</th>
                    	<th>Código</th>
                    	<th>Nombre</th>
                    	<th>Stock</th>
                    </tr>
                </thead>
                <tbody>
                	{% for p in products %}
	                	<tr>
	                    	<td>{{ p.id }}</td>	
	                    	<td>{{ p.codename }}</td>    
	                    	<td><a href="{% url 'product_detail' p.id %}">{{ p.name }}</a></td>
	                    	<td>{{ p.quantity }}</td>
	                	</tr>
                	{% endfor %}
                </tbody>
        	</table>
    	</div>
    {% else %}
    	<h3>No existen productos.</h3>
    {% endif %}
</div> <!-- /.container -->

{% endblock %}