{% extends "base.html" %}
{% block title %}Second Wind{% endblock %}
{% block content %}
{% load staticfiles %}
{% load bootstrap %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
    	<h1>Categorías</h1>
        <a class="btn btn-primary btn-lg" href="{% url 'category_create' %}"><span class="glyphicon glyphicon-plus"></span> Crear</a>
    </div>
</div>

<!-- Container -->
<div class="container">
	{% if categories %}
		<div class="table-responsive"> 
        	<table class="table table-hover">
            	<thead>
                	<tr>
                    	<th>ID</th>
                    	<th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                	{% for c in categories %}
	                	<tr class="rowSelector" 
	                		data-description="{{ c.description }}" 
	                		data-name="{{ c.name }}" 
	                		data-detail-url="{% url 'category_detail' pk=c.id %}"
	                		data-update-url="{% url 'category_update' pk=c.id %}" 
	                		data-delete-url="{% url 'category_delete' pk=c.id %}">
	                    	<td>{{ c.id }}</td>
	                    	<td>{{ c.name }}</td>	    
	                	</tr>
                	{% endfor %}
                </tbody>
        	</table>
    	</div>
    {% else %}
    	<h3>No existen categorías</h3>
    {% endif %}
</div> <!-- /.container -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
				<h4 class="modal-title" id="myModalLabel"></h4>
      		</div>
	      	<div class="modal-body">
	      	</div>
	      	<div class="modal-buttons">
	      		<button type="button" class="btn btn-default btn-lg btn-block btn-detail">Detalle</button>
	      		<button type="button" class="btn btn-default btn-lg btn-block btn-update">Modificar</button>
				<button type="button" class="btn btn-danger btn-lg btn-block btn-delete">Eliminar</button>
	      	</div>
	    	<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	      	</div>
    	</div>
  	</div>
</div>

<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
	var detailUrl;
	var updateUrl;
	var deleteUrl;
	// Modal call function
	$(".rowSelector").on("click", function() {
		var description = $(this).data("description");
		var name = $(this).data("name");
		detailUrl = $(this).data("detail-url");
		updateUrl = $(this).data("update-url");
		deleteUrl = $(this).data("delete-url");
		$(".modal-title").text(name);
		$(".modal-body").text(description);
		$('#myModal').modal({
			show:true
		});
	});
	$(".btn-detail").click(function() {window.location = detailUrl});
	$(".btn-update").click(function() {window.location = updateUrl});
	$(".btn-delete").click(function() {window.location = deleteUrl});
});
</script>
{% endblock %}