{% extends "base.html" %}
{% block title %}Second Wind{% endblock %}
{% block content %}
{% load bootstrap %}
<!-- Title -->
<div class="jumbotron">
	<div class="container">
    	<h1>Generar orden</h1>
    	<h2>Datos del producto</h2>
    	<div class="row">
	    	{% if product.picture %}
    			<div class="col-xs-12 col-sm-6 col-md-6"><img src="{{ product.picture.url }}" alt="Product Picture" width="70%" height="70%"/></div>
    			<div class="row">
		    		<div class="col-xs-12 col-sm-6 col-md-6"><p><b>Nombre:</b> {{ product.name }}</p></div>
		    		<div class="col-xs-12 col-sm-6 col-md-3"><p><b>Código:</b> {{ product.codename }}</p></div>
		    		<div class="col-xs-12 col-sm-6 col-md-3"><p><b>Stock:</b> {{ product.quantity }}</p></div>
		    		<div class="col-xs-12 col-sm-6 col-md-3"><p><b>Precio:</b> {{ product.sale_price }} Gs.</p></div>
		    		<div class="col-xs-12 col-sm-6 col-md-6"><p><b>Descripción</b></p></div>
		    		<div class="col-xs-12 col-sm-6 col-md-6"><p>{{ product.description }}</p></div>
		    	</div>
	    	{% else %}
		    	<div class="row">
		    		<div class="col-xs-12 col-sm-6 col-md-6"><p><b>Nombre:</b> {{ product.name }}</p></div>
		    		<div class="col-xs-12 col-sm-6 col-md-6"><p><b>Código:</b> {{ product.codename }}</p></div>
		    		<div class="col-xs-12 col-sm-6 col-md-6"><p><b>Stock:</b> {{ product.quantity }}</p></div>
		    		<div class="col-xs-12 col-sm-6 col-md-3"><p><b>Precio:</b> {{ product.sale_price }} Gs.</p></div>
		    		<div class="col-xs-12 col-sm-6 col-md-6"><p><b>Descripción</b></p></div>
		    		<div class="col-xs-12 col-sm-6 col-md-6"><p>{{ product.description }}</p></div>
			    </div>
	    	{% endif %}
    	</div>
    </div>
</div>
<!-- END Title -->
<!-- Form -->
<div class="container">
	<form class="form-horizontal" method="POST">
    	{% csrf_token %}
    	{{ form|bootstrap_horizontal }}
      	<button type="submit" class="btn btn-success btn-lg">Agregar</button>
      	<a class="btn btn-default btn-lg" href="{% url 'sell_order_list' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
	</form>	
</div>
<!-- END Form -->
{% endblock %}