{% extends "base.html" %}
{% block title %}Second Wind{% endblock %}
{% block content %}
{% load staticfiles %}
{% load bootstrap %}
<!-- Title -->
<div class="jumbotron">
	<div class="container">
    	<h1>Orden de Ventas</h1>
    	<div class ="btn-group btn-group-lg">
	    	<a class="btn btn-success btn-lg" href="{% url 'sell_order_check_product' %}">Agregar Producto</a>
	    	<a class="btn btn-default btn-lg" href="{% url 'sell_order_clear' %}">Limpiar Orden</a>
    	</div>
    </div>
</div>
<!-- END Title -->
<!-- Container -->
<div class="container">
	{% if sell_orders %}
		<div class="table-responsive"> 
        	<table class="table">
            	<thead>
                	<tr>
                    	<th>Código</th>
                    	<th>Cantidad</th>
                    	<th>Nombre de Producto</th>
                    	<th>Categoria</th>
                    	<th>Precio unitario</th>
                    	<th>Descuento</th>
                    	<th>Sub-total</th>
                    </tr>
                </thead>
                <tbody>
                	{% for s in sell_orders %}
	                	<tr>
	                    	<td>{{ s.product.codename }}</td>
	                    	<td>{{ s.quantity }}</td>
	                    	<td>{{ s.product.name }}</td>	
	                    	<td>{{ s.product.category.name }}</td>	
	                    	<td>{{ s.unit_price }}</td>
	                    	<td>{{ s.discount }}</td>   
	                    	<td>{{ s.subtotal }}</td>
	                    	<td><a href="{% url 'sell_order_delete' pk=s.id %}" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-remove"></span></a></td>
	                	</tr>
                	{% endfor %}
                		<tr>
	                    	<td></td>
	                    	<td></td>
	                    	<td></td>
	                    	<td><b>IVA:</b></td>	
	                    	<td><b>{{ tax }}</b></td>
	                    	<td><b>TOTAL:</b></td>   
	                    	<td><b>{{ total }}</b></td>
	                    	<td></td>
	                	</tr>
                </tbody>
        	</table>
    	</div>
    	<a class="btn btn-success btn-lg" href="{% url 'sell_bill_create' %}">Realizar compra</a>
    {% else %}
    	<h3>No existen productos</h3>
    {% endif %}
</div>
<!-- END Container -->
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {

});
</script>
{% endblock %}