{% extends "base.html" %}
{% block title %}Second Wind{% endblock %}
{% block content %}
{% load bootstrap %}
<!-- Jumbotron -->
<div class="jumbotron">
	<div class="container">
    	<h1>Generar compra</h1>
    </div>
</div>
<!-- END Jumbotron -->
<!-- Form -->
<div class="container">
	<form class="form-horizontal" method="POST">
    	{% csrf_token %}
    	{{ form|bootstrap_horizontal }}
      	<button type="submit" class="btn btn-success btn-lg">Generar</button>
      	<a class="btn btn-default btn-lg" href="{% url 'buy_order_list' %}"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
	</form>	
</div>
<!-- END Form -->
{% endblock %}