{% extends "base.html" %}
{% block title %}Second Wind{% endblock %}
{% block content %}
{% load bootstrap %}
<!-- Jumbotron -->
<div class="jumbotron">
	<div class="container">
		<h1>Detalle de Compra</h1>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6"><p><b>Número de factura:</b> {{ bill.stamp }}</p></div>
			<div class="col-xs-12 col-sm-6 col-md-6"><p><b>Fecha de creación:</b> {{ bill.date }}</p></div>
			<div class="col-xs-12 col-sm-6 col-md-6"><p><b>Proveedor:</b> <a href="{% url 'supplier_detail' pk=bill.supplier.pk %}">{{ bill.supplier }}</a></p></div>
		</div>
    </div>
</div>
<!-- END Jumbotron -->
<!-- Container -->
<div class="container">
	{% if orders %}
		<h2>Orden de Compra</h2>
		<div class="table-responsive"> 
        	<table class="table">
            	<thead>
                	<tr>
                    	<th>Código</th>
                    	<th>Cantidad</th>
                    	<th>Producto</th>
                    	<th>Precio Unitario</th>
                    	<th>Sub-total</th>
                    </tr>
                </thead>
                <tbody>
                	{% for o in orders %}
	                	<tr>
	                    	<td>{{ o.product.codename }}</td>	
	                    	<td>{{ o.quantity }}</td> 
	                    	<td><a href="{% url 'product_detail' o.product.id %}">{{ o.product.name }}</a></td>	
	                    	<td>{{ o.unit_price }} Gs.</td>       
	                    	<td>{{ o.subtotal }} Gs.</td>  			
	                	</tr>
                	{% endfor %}
                	<tr>
                    	<td></td>	
                    	<td><b>IVA:</b></td> 
                    	<td><b>{{ tax }} Gs.</b></td>	
                    	<td><b>TOTAL:</b></td>       
                    	<td><b>{{ bill.total }} Gs.</b></td>  			
                	</tr>
                </tbody>
        	</table>
    	</div>
    {% else %}
    	<h3>No existen facturas</h3>
    {% endif %}
</div>
<!-- END Container -->

{% endblock %}