{% extends "base.html" %}
{% block title %}Second Wind{% endblock %}
{% block content %}
{% load staticfiles %}
{% load bootstrap %}

<!-- Jumbotron -->
<div class="jumbotron">
	<div class="container">
    	<h1>Lista de Compras</h1>
    </div>
</div>
<!-- END Jumbotron -->
<!-- Container -->
<div class="container">
	{% if bills %}
		<div class="table-responsive"> 
        	<table class="table table-hover">
            	<thead>
                	<tr>
                    	<th>Fecha</th>
                    	<th># de Factura</th>
                    	<th>Total</th>
                    	<th>Proveedor</th>
                    </tr>
                </thead>
                <tbody>
                	{% for b in bills %}
	                	<tr>
	                    	<td>{{ b.date }}</td>
	                    	<td><a href="{% url 'buy_bill_detail' b.id %}">{{ b.stamp }}</a></td>
	                    	<td>{{ b.total }} Gs.</td>  
	                    	<td><a href="{% url 'supplier_detail' b.supplier.id %}">{{ b.supplier.name }}</a></td>  
	                    	<td><a class="btn btn-default btn-xs" href="{% url 'buy_bill_delete' b.pk %}"><span class="glyphicon glyphicon-remove"></span></a>        			
	                	</tr>
                	{% endfor %}
                </tbody>
        	</table>
    	</div>
    {% else %}
    	<h3>No existen facturas</h3>
    {% endif %}
</div>
<!-- END Container -->
{% endblock %}